
section {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input,
textarea {
    margin-bottom: 1rem;
}

.card {
    width: 32%;
    float: left;
    margin: 5px;
}

.img-contato{
    width: 400px;
    margin: 60px 40px 20px 40px;
    
    border-radius: 5px;
}

.paragrafo-5{
    margin-top: 20px;
}